MahjongTournamentSuite/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
MahjongTournamentSuite/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
MahjongTournamentSuite/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
MahjongTournamentSuite/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
MahjongTournamentSuite/packages/EntityFramework.6.1.3/content/Web.config.transform
MahjongTournamentSuite/packages/EntityFramework.6.1.3/content/App.config.transform
MahjongTournamentSuite/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/MahjongTournamentTimer.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/MahjongTournamentTimer.Properties.Resources.resources
MahjongTournamentSuite/MahjongTournamentTimer/obj/Debug/MahjongTournamentTimer.MainForm.resources
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj/Debug/MahjongTournamentSuiteDataLayer.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.TournamentManager.TournamentManagerForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.TeamSelector.TeamSelectorForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.TableManager.TableManagerForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.Splash.SplashForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.NewTournament.NewTournamentForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.Main.RankingForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.Home.HomeForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePresentationLayer.CountrySelector.CountrySelectorForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuitePesentationLayer.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.TournamentManager.TournamentManagerForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.TeamSelector.TeamSelectorForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.TableManager.TableManagerForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.Splash.SplashForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.Ranking.RankingForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.Properties.Resources.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.NewTournament.NewTournamentForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.Home.HomeForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/MahjongTournamentSuite.CountrySelector.CountrySelectorForm.resources
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentTimer.exe.config
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentSuite.vshost.exe.config
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentSuite.exe.config
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentRanking.vshost.exe.manifest
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentRanking.vshost.exe.config
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/MahjongTournamentRanking.exe.config
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/EntityFramework.xml
MahjongTournamentSuite/MahjongTournamentSuite/bin/Debug/EntityFramework.SqlServer.xml
MahjongTournamentSuite/MahjongTournamentSuite/Resources/team_big.png
MahjongTournamentSuite/MahjongTournamentSuite/Resources/player_big.png
MahjongTournamentSuite/MahjongTournamentSuite/Resources/export.png
MahjongTournamentSuite/MahjongTournamentSuite/Resources/chicken_big.png
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/MahjongTournamentRanking.csproj.FileListAbsolute.txt
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/MahjongTournamentRanking.Properties.Resources.resources
MahjongTournamentSuite/MahjongTournamentRanking/obj/Debug/MahjongTournamentRanking.Main.MainForm.resources
MahjongTournamentSuite/MahjongTournamentRanking/bin/Debug/MahjongTournamentRanking.exe.config
MahjongTournamentSuite/MahjongTournamentRanking/bin/Debug/EntityFramework.xml
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/install.ps1
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/init.ps1
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/bin/Debug/EntityFramework.xml
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/bin/Debug/EntityFramework.SqlServer.xml
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MahjongTournamentSuite/MahjongTournamentSuite/bin/
MahjongTournamentSuite/packages/EntityFramework.6.1.3/tools/migrate.exe
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj/Debug/MahjongTournamentSuiteDataLayer.pdb
MahjongTournamentSuite/.vs/MahjongTournamentSuite/v14/.suo
MahjongTournamentSuite/MahjongTournamentSuite/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
