MahjongTournamentSuite/packages
MahjongTournamentSuite/MahjongTournamentTimer/obj
MahjongTournamentSuite/MahjongTournamentTimer/bin
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/bin
MahjongTournamentSuite/MahjongTournamentSuite/obj
MahjongTournamentSuite/MahjongTournamentSuite/bin
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/obj
MahjongTournamentSuite/MahjongTournamentSuiteDataLayer/bin
*.suo
MahjongTournamentSuite/.vs/MahjongTournamentSuite/FileContentIndex/
